body {
}

h1 {
	text-align: center;
	font-size: 600%;
	color: #6322cb;
}
#aantalKmFile {
	font-size: 800%;
	color: #6322cb;
	font-weight: bold;
}

@media screen and (-ms-view-state: fullscreen-landscape) {
}

@media screen and (-ms-view-state: filled) {
}

@media screen and (-ms-view-state: snapped) {
}

@media screen and (-ms-view-state: fullscreen-portrait) {
}
